.headercontent{
    margin-top: 100px;
    background-color:black;
    display: flex;
    align-items: center;
  justify-content: space-around;
  position: fixed;  
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
   
}
.headertext{
    margin-top: 80px;
    margin-left: 100px;
    color: white;
 
}
img{
    width:70%;
    margin-top: 150px;
    margin-left: 150px;
}

.headertext p{
    font-size: 0.9rem;
    color: rgb(red, green, blue);
}
.headertext span{
    color: aqua;
    text-decoration: underline;
}

.headerbtn{
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
  justify-content:center;
  background-color: #5c;
}