.headercontent{
    margin-top: 50px;
    background-color:black;
    display: flex;
    align-items: center;
  justify-content: space-around;
  position:absolute;  
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
   
}
.headertext{
    margin-top: 400px;
    margin-left: 100px;
    color: white;
    position: fixed;
 
}
.img{
    width:70%;
    margin-top: 130px;
    margin-left: 150px;
}

.headertext p{
    font-size: 0.9rem;
    color: rgb(red, green, blue);
}
.headertext span{
    color: aqua;
    text-decoration: underline;
}

.headerbtn{
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
  justify-content:center;
  background-color: #5cfdb2;
  color: #10003d;
  box-shadow: 2px 2px 20px rgb(1,141,83,0.514);
}
.headerbtn:hover{
    background-color: #3ea876;
}